name: Deploy

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - uses: actions/configure-pages@v2
      - name: cache flutter
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/.fvm/fvm_config.json') }}
          path: .fvm/cache
      - name: add brew to $PATH
        run: |
          echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
          echo ${{ steps.deployment.outputs.base_path }}
      - name: fvm install
        run: |
          brew tap leoafarias/fvm
          brew install fvm
      - name: flutter install
        run: |
          fvm config --cache-path .fvm/cache
          fvm install
      - name: flutter build
        run: |
          cd example
          fvm config --cache-path ../.fvm/cache
          fvm flutter pub get
          fvm flutter build web --release --web-renderer auto --base-href "/flutter_seo/"
      - name: upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'example/build/web'
      - name: deploy github page
        id: deployment
        uses: actions/deploy-pages@v1
