name: Test

on:
  workflow_dispatch:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "11"
      - name: cache flutter
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ hashFiles('**/.fvm/fvm_config.json') }}
          path: .fvm/cache
      - name: add brew to $PATH
        run: |
          echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: fvm install
        run: |
          brew tap leoafarias/fvm
          brew install fvm
      - name: flutter install
        run: |
          fvm config --cache-path .fvm/cache
          fvm install
      - name: flutter test
        run: |
          fvm flutter test --platform chrome
